body {
    margin: 0;
    padding: 0;
    background: url('../assets/bg-404-page.png') no-repeat center center fixed;
    background-size: cover;
    font-family: JetBrains Mono, monospace;
}

.header {
    background: transparent;
    position: fixed;
    width: 100%;
    z-index: 1000;
    margin-top: 19px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(239, 237, 239);
    box-sizing: border-box;
    font-family: JetBrains Mono, monospace;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    position: relative;
    max-width: 1328px;
    margin: 0px auto;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px 24px;
}

.header-logo {
    flex: 1;
}

.header-logo a {
    text-decoration: none;
    line-height: 0;
    box-sizing: border-box;
    font-family: JetBrains Mono, monospace;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    text-decoration: none;
    width: max-content;
    transition: color 0.2s ease 0s;
}

.header-logo img {
    line-height: 0;
    box-sizing: border-box;
    font-family: JetBrains Mono, monospace;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    width: 307px;
    height: 111px;
}

.header-nav {
    display: flex;
    align-items: center;
    color: rgb(195, 188, 195);
    box-sizing: border-box;
    font-family: JetBrains Mono, monospace;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    display: flex;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-align: center;
    align-items: center;
    gap: 32px;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
}

.nav-link,
.nav-participation {
    text-decoration: none;
    color: rgb(195, 188, 195);
    position: relative;
    transition: color 0.3s;
}

.nav-link:hover,
.nav-participation:hover {
    color: #eed34b;
}

.nav-link:hover::after,
.nav-participation:hover::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #d4ef4c;
    position: absolute;
    bottom: 0;
}

.nav-participation {
    box-sizing: border-box;
    font-family: JetBrains Mono, monospace;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    text-decoration: none;
    width: max-content;
    font-size: 20px;
    font-style: normal;
    line-height: 28px;
    position: relative;
    text-transform: uppercase;
    font-weight: 800;
    transition: all 0.1s ease 0s;
    margin-left: auto;
}

.main-button {
    color: rgb(195, 188, 195);
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
    background: transparent;
    font-family: JetBrains Mono, monospace;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    text-decoration: none;
    width: max-content;
    position: relative;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 16px;
    text-transform: uppercase;
    transition: box-shadow 300ms ease-in-out 0s;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding: 12px 20px;
    margin-left: auto;
}

.main-button:hover {
    border: 1px solid rgb(207, 243, 107);
    color: #fff;
    transition: color 0.3s, border 0.3s;
}

.hero-content {
    text-align: center;
    position: absolute;
    top: 60%;
    left: 41%;
    transform: translate(-50%, -50%);
    color: rgb(239, 237, 239);
    box-sizing: border-box;
    font-family: JetBrains Mono, monospace;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    max-width: 742px;
    width: 100%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    gap: 48px;
    -webkit-box-align: center;
    z-index: 5;
    align-items: flex-start;
}

.hero-title {
    font-size: 2em;
    margin-bottom: 20px;
    box-sizing: border-box;
    font-family: JetBrains Mono, monospace;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    overflow-wrap: break-word;
    font-style: normal;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 100px;
    line-height: 100px;
    text-align: left;
}

.repo-button {
    color: rgb(195, 188, 195);
    padding: 18px 26px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    box-sizing: border-box;
    background: transparent;
    border: 1px solid white;
    font-family: JetBrains Mono, monospace;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    text-decoration: none;
    width: max-content;
    position: relative;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 16px;
    text-transform: uppercase;
    transition: box-shadow 300ms ease-in-out 0s;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.repo-button:hover {
    border: 1px solid rgb(207, 243, 107);
    color: #fff;
    transition: color 0.3s, border 0.3s;
}